<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Champion Teams Browser | @ViewBag.Title</title>
    @Styles.Render("~/styles/site")
    @Scripts.Render("~/scripts/init")
    @Scripts.Render("~/scripts/jqueryval")
</head>
<body>
    <header>
        <nav id="site-nav">
            <ul>
                <li class="toggle-modes @( ViewBag.Admin != null ? "user" : "")"><a href="@( ViewBag.Admin != null ? "/" : "/TeamAdmin")" title="Change to @( ViewBag.Admin != null ? "User" : "Admin") Mode"></a></li>
            </ul>
        </nav>
    </header>
    <main>
         @RenderBody()
    </main>
    <footer>
        <p>Web Developer: Victor Herrera R</p>
    </footer>
    @RenderSection("ViewModelScript", required: false)
</body>
</html>
